.boxForm, .boxForm-signup {
    width: 100%;
    border: 1px solid rgba(192, 192, 192, 0.712);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin-top: 50px;
}

.boxForm form {
    width: 50%;
}

.boxForm h1 {
    justify-self: first baseline;
}

.accommodationBox {
    max-width: 96.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}